* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

html, body, #top {
    height: 100%;
    overflow: hidden;
}

h1, h2, h3, h4, strong, b {
    font-weight: 600;
}

input, button {
    font: inherit;
}

.about-overlay {
    border: 3px solid #841;
    background-color: #FFF;
    box-shadow: 6px 6px 72px rgba(0, 0, 0, .3);
    padding: 1em;
    border-radius: 3px;
    position: absolute;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
}

.about-overlay h1 {
    text-align: center;
}

.about-overlay p a {
    color: #09f;
    text-decoration: underline;
}

.about-link {
    float: right;
    background-color: #841;
    color: #FFF;
}

.mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(256, 256, 256, .8);
}

a {
    text-decoration: none;
    display: inline-block;
}

nav {
    width: 100%;
    border-bottom: 2px solid #09F;
}

nav a, .logo {
    color: inherit;
    line-height: 2em;
    padding: 0 1em;
}

nav a.active {
    background-color: #09F;
    color: white;
}

.pane {
    height: calc(100% - 2em);
    position: relative;
    overflow: auto;
}

.pane > h1:first-child {
    margin-top: 0;
}

.pane > aside {
    width: 240px;
    border-right: 2px solid #09F;
    height: 100%;
    float: left;
    overflow: auto;
}

.pane > section {
    height: 100%;
    overflow: auto;
}

.dumps-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.dumps-list a {
    padding: 3px 6px;
    display: block;
    position: relative;
}

.dumps-list a.active {
    background-color: #09F;
    color: white;
}

.dumps-list a time {
    margin-left: 1em;
    opacity: .8;
    font-style: italic;
    font-size: smaller;
}

.dumps-list .dump-time-diff {
    position: absolute;
    top: 0;
    right: 0;
    color: #09F;
    padding: 0 3px;
    border-radius: 3px 0 0 3px;
}

.dumps-list a.active .dump-time-diff {
    color: white;
}

table {
    border-collapse: collapse;
    overflow-x: auto;
}

td {
    min-width: 60px;
}

th {
    text-align: left;
    background-color: rgba(0, 0, 0, .05);
}

tr:hover {
    background-color: rgba(0, 0, 0, .05);
}

table.thread-compare {
    width: 100%;
    cursor: default;
}

table.thread-compare td {
    white-space: nowrap;
}

table.thread-compare th,
table.thread-compare td {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.thread-compare th:first-child,
table.thread-compare td:first-child {
    max-width: 220px;
}

table.thread-compare .RUNNABLE {
    background-color: rgba(68, 237, 0, 0.1);
}

table.thread-compare .WAIT_CONDITION {
    background-color: rgba(177, 0, 237, 0.2);
}

table.thread-compare .OBJECT_WAIT {
    background-color: rgba(0, 126, 237, 0.2);
}

table.thread-compare .active {
    background-color: #09F;
    color: white;
}

.close-btn {
    position: absolute;
    right: 1em;
    top: 1em;
    color: #E00;
    transform: scale(1.5);
}